.hero {
    height: 100vh;
    width: 100%;
}

.placeholder {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-garamond);
    font-size: 24px;
    letter-spacing: 0.1em;

    opacity: 0.4;
}